
<div class="container">
    <div class="row">
        <!-- <app-tile class="col-md-4" title="Aktywności na dziś"></app-tile> -->
        <app-tile class="col-md-6" title="Your activities">
        </app-tile>
        <!-- <app-tile class="col-md-4" title="Wyzwania"></app-tile> -->
        <div class="col-md-6" style="padding-top: 15px">
          <div class="row">
            <h2>Trendings</h2>
            <mat-card class="col-md-6" *ngFor="let item of trending">
                <img mat-card-image height="120" [src]="item.image">

                <mat-card-content class="d-flex" >

                    <div class="d-flex flex-column" style="gap: 4px">
                      <h3>{{item.title}}</h3>
                      <h5>{{item.type}}</h5>
                        <span class="material-symbols-rounded badge-sm">
                            {{item.typeIcon}}
                        </span>
                        <span class="grade badge">
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span>{{item.grade}}</span>
                        </span>
                        <span class="shared badge">
                            <span class="material-symbols-rounded">
                                person
                            </span>
                            <span>{{item.shared}}</span>
                        </span>
                    </div>
                    <p class="item-desc">
                        {{item.description}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div></div>
    </div>
  <div class="row daily">
    <div class="col-md-12" style="padding-top: 15px">
      <div class="row">
        <h2>Daily goals</h2>
        <mat-card class="col-md-6" *ngFor="let item of daily">
          <img mat-card-image height="120" [src]="item.image">
          <mat-card-content class="d-flex" >
            <mat-card-header>
              <mat-card-title>{{item.title}}</mat-card-title>
              <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
              <span class="material-symbols-rounded badge-sm">
                  {{item.typeIcon}}
              </span>

            </mat-card-header>
            <p class="item-desc">
              {{item.description}}
            </p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
