
<div class="container">
    <div class="row">
        <!-- <app-tile class="col-md-4" title="Aktywności na dziś"></app-tile> -->
      <div class="col-md-6">
        <app-tile  title="Twoje aktywności">
        </app-tile>
      <div class="row" style="margin-top:20px">
      <h2 class="display-6">Cele Dzienne</h2>
      <mat-card class="example-card" appearance="outlined" class="col-md-6 col-sm-12" *ngFor="let item of daily">
        <img mat-card-image height="140" [src]="item.image">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"><span class="material-symbols-rounded badge-sm">
                            {{item.typeIcon}}
                        </span></div>
          <mat-card-title>{{item.title}}</mat-card-title>
          <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
          <p>
            {{item.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
                <span class="grade badge">
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span>{{item.grade}}</span>
                        </span>
          <span class="shared badge">
                            <span class="material-symbols-rounded">
                                person
                            </span>
                            <span>{{item.shared}}</span>
                        </span>
          <button mat-button>POLUB</button>
          <button mat-button>UDOSTĘPNIJ</button>
        </mat-card-actions>
      </mat-card>
      </div>
      </div>
        <!-- <app-tile class="col-md-4" title="Wyzwania"></app-tile> -->
        <div class="col-md-6" style="padding-top: 15px">
          <div class="row">
            <h2 class="display-6">Na czasie</h2>

            <mat-card class="example-card" appearance="outlined" class="col-md-6 col-sm-12" *ngFor="let item of trending" style="min-height: 464px;">
              <img mat-card-image height="140" [src]="item.image">
              <mat-card-header>
                <div mat-card-avatar class="example-header-image"><span class="material-symbols-rounded badge-sm">
                            {{item.typeIcon}}
                        </span></div>
                <mat-card-title>{{item.title}}</mat-card-title>
                <mat-card-subtitle>{{item.type}}</mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>
                <p>
                  {{item.description}}
                </p>
              </mat-card-content>
              <mat-card-actions>
                <span class="grade badge">
                            <span class="material-symbols-rounded">
                                star
                            </span>
                            <span>{{item.grade}}</span>
                        </span>
                <span class="shared badge">
                            <span class="material-symbols-rounded">
                                person
                            </span>
                            <span>{{item.shared}}</span>
                        </span>
                <button mat-button>POLUB</button>
                <button mat-button>UDOSTĘPNIJ</button>
              </mat-card-actions>
            </mat-card>
        </div></div>
    </div>
</div>
