mat-card{
    height: fit-content;
    //background: transparent !important;
    box-shadow: none !important;
    padding:0px 0px 20px 0px;
    margin:10px;
    width:300px
}

mat-card-content{
    //background-color: var(--sys-inverse-on-surface);
}

.badge{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    align-items: center;
}

.badge .material-symbols-rounded{
    font-size: 16px;
}

.grade{
    background-color: lightyellow;
    color: rgb(158, 158, 7);
}

.shared{
    background-color: var(--sys-inverse-primary);;
    color: var(--sys-on-tertiary-container);
}

.item-desc{
  text-align: justify;
  padding: 10px
  }

.material-symbols-rounded {
    text-align: center;
}

.daily{

}

  @media screen and (max-width: 768px) {
    mat-card{
      width: fit-content !important
      }
    }
