mat-card{
    height: fit-content;
    background: transparent !important;
    box-shadow: none !important;
    padding-bottom:20px
}

mat-card-content{
    background-color: var(--sys-inverse-on-surface);
}

.badge{
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    align-items: center;
}

.badge .material-symbols-rounded{
    font-size: 16px;
}

.grade{
    background-color: lightyellow;
    color: rgb(158, 158, 7);
}

.shared{
    background-color: var(--sys-tertiary-container);
    color: var(--sys-on-tertiary-container);
}

.item-desc{
  text-align: justify;
  padding: 10px
  }

.material-symbols-rounded {
    text-align: center;
}

.daily{
  background: var(--)}
