<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" [opened]="mobileView">
    <div class="panel-wrapper">
      <div class="panel">
        <div class="drawer-inner-container">
          <div class="menu-wrapper">
            <a href="{{item.path}}" class="menu-item" *ngFor="let item of menu" matRipple [ngClass]="{selected: getCurrentPath() == item.path}">
              <mat-icon>{{item.icon}}</mat-icon>
              <span>{{item.name | translate}}</span>
            </a>
          </div>
        
        </div>
        
        <div class="bottom-menu">
          <div class="menu-wrapper">
            <a *ngIf="!isServeEnabled()" class="menu-item" [href]="getDevelopHref()">
              <span class="material-symbols-rounded">
                code_blocks
              </span>
              <span>{{ 'To develop' | translate}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content style="overflow-x: hidden; overflow-y: auto;">
    <router-outlet></router-outlet>
  </mat-drawer-content>
  

</mat-drawer-container>
