/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use './../m3-theme.scss';


@include mat.core();

:root{
    --main-background-color: #f3f3f3;
}

html{
  @media (prefers-color-scheme: light) {
    @include mat.core-theme(m3-theme.$light-theme);
    @include mat.all-component-themes(m3-theme.$light-theme);
    @include mat.system-level-colors(m3-theme.$light-theme);
    @include mat.system-level-typography(m3-theme.$light-theme);
  }
  @media (prefers-color-scheme: dark) {
    @include mat.core-theme(m3-theme.$dark-theme);
    @include mat.all-component-themes(m3-theme.$dark-theme);
    @include mat.system-level-colors(m3-theme.$dark-theme);
    @include mat.system-level-typography(m3-theme.$dark-theme);
  }
 
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif !important; }

input {
    border: none;
    outline: none;
}

.form-container{
  background: var(--sys-surface-container);
  border-radius: 16px;
  padding: 24px;
}

.form-wrapper > div {
  padding: 0;
  
}

.container-margin{
  // margin: 10px;
}




