<div class="container-fluid m-2">
    <mat-chip-set aria-label="Fish selection">
        <mat-chip>Indoor</mat-chip>
        <mat-chip>Outdoor</mat-chip>
        <mat-chip>Fitness</mat-chip>
        <mat-chip>Extreme</mat-chip>
    </mat-chip-set>

    <div class="p-2" style="    display: flex;
    flex-direction: initial;">
        <div *ngFor="let item of items" [routerLink]="[item.id]" style="margin: 20px;" matRipple class="w-50 d-flex p-2 justify-content-between list-item">
            <div class="d-flex">
                <span class="material-symbols-rounded" style="font-size: 36px; padding:10px">
                    hiking
                </span>
                <h5 style="line-height:51px">{{item.name}}</h5>
              <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At distinctio dolor ducimus incidunt inventore molestiae repellendus? Dolorem, doloribus eaque ex id laborum maxime necessitatibus neque perspiciatis qui ratione sit ut?</p>
            </div>
            <div>
                <span class="grade badge">
                    <span class="material-symbols-rounded" style="color:gold; font-weight:bolder">
                        star
                    </span>
                    <span>{{item.grade}}</span>
                </span>
            </div>

        </div>
    </div>
</div>
