<div class="container-fluid m-2 container">
  <div class="row" style="margin-bottom:10px">
    <div class="col-4">
    <mat-chip-set aria-label="Fish selection">
        <mat-chip>Indoor</mat-chip>
        <mat-chip>Outdoor</mat-chip>
        <mat-chip>Fitness</mat-chip>
        <mat-chip>Extreme</mat-chip>
    </mat-chip-set>
    </div>

  <div class="offset-7 col-1"><button mat-raised-button (click)="addTask()">Dodaj</button></div>
  </div>

    <div class="p-2 container" style="    display: flex;
    flex-direction: initial; ">
      <div class="row">
        <div *ngFor="let item of items" [routerLink]="[item.id]" style="padding: 20px;" matRipple class="d-flex p-2 col-md-5 offset-1 col-12 list-item">
            <div class="d-flex">
                <span class="material-symbols-rounded" style="font-size: 36px; padding:10px; text-align:center; vertical-align:middle; margin:0 auto; bottom:0 ng">
                    hiking
                </span>
              <h5 style="line-height:51px">{{item.name}}</h5>
              <p class="p-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At distinctio dolor ducimus incidunt inventore molestiae repellendus? Dolorem, doloribus eaque ex id laborum maxime necessitatibus neque perspiciatis qui ratione sit ut?</p>
            </div>
            <div>
                <span class="grade badge">
                    <span class="material-symbols-rounded fill" style="color:gold; font-weight:900; font-size:35px">
                        star
                    </span>
                    <p style="color:black; font-size:16px">{{item.sumGrade/item.countOfGrades | number : '1.2-2'}}/5</p>
                </span>
            </div>
        </div>
        </div>
    </div>
</div>
