<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-3 d-flex justify-content-between">
            <h2>
                Activity
            </h2>
            <div class="d-flex" style="gap: 8px">
                <button mat-raised-button (click)="save()">Save</button>
                <button mat-button (click)="close()">Close</button>
            </div>

        </div>
        <div class="col-12">

            <ng-template #loading>
                loading
            </ng-template>
            <div class="row" *ngIf="loaded; else loading" >
                <div class="col-md-8 col-lg-9">
                    <div class="form-container">
                        <mat-form-field appearance="outline">
                            <mat-label>Name</mat-label>
                            <input matInput type="text" [(ngModel)]="object.name">
                        </mat-form-field>
                      &nbsp;
                        <mat-form-field appearance="outline">
                          <mat-label>Description</mat-label>
                          <textarea  matInput [(ngModel)]="object.description"></textarea>
                        </mat-form-field>
                    </div>

                </div>
                <div class="col-md-4 col-lg-3">
                    <div class="form-container d-flex align-items-center flex-column" style="margin-right: 10px; margin-bottom: 15px;">
                        <div class="profile-img">FT</div>
                        <div class="d-flex">
                            <span class="material-symbols-rounded">
                                grade
                            </span>
                            4.5
                        </div>
                        <div class="d-flex">
                            <button mat-button>More</button>
                            <button mat-raised-button>More</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-container container-margin">
                        <div class="d-flex justify-content-between">
                            <span style="font-weight: 500; font-size: large;">Tasks</span>
                            <button mat-flat-button (click)="addTask()">Dodaj</button>
                        </div>
                        <div class="task-wrapper" cdkDropList (cdkDropListDropped)="drop($event)">
                            <div cdkDrag class="task" *ngFor="let task of object.tasks">
                                <div>{{task.name}}</div>
                                <div>
                                    <button mat-icon-button [routerLink]="['/tasks', task.id]">
                                        <span class="material-symbols-rounded">
                                            edit
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <button mat-raised-button (click)="startActivity()">Start activity</button>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-container container-margin">map</div>
                </div>
            </div>

        </div>
    </div>

</div>
