
.profile-img{
    background-color: var(--sys-primary-container);
    height: 80px;
    width: 80px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.task-wrapper{
    background-color: var(--sys-surface-bright);
    border-radius: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 12px 0;
}

.task{
    background-color: var(--sys-secondary-container);
    border-radius: 4px;
    padding: 10px;
}

.mat-mdc-form-field {
    display: block;
    }

.container-margin {
    margin-top: 15px;
}


#map { height: 180px; }
