<div class="container-fluid">
    <div class="row">
        <div class="col-12 p-3 d-flex justify-content-between">
            <h2>
                Zadanie
            </h2>
            <div class="d-flex" style="gap: 8px">
                <button mat-raised-button (click)="save()">Zapisz</button>
                <button mat-button (click)="close()">Zamknij</button>
            </div>

        </div>
        <div class="col-12">

            <ng-template #loading>
                loading
            </ng-template>
            <div class="row form-wrapper" *ngIf="loaded; else loading" >
                <div class="col-12">
                    <div class="form-container row">
                        <mat-form-field appearance="outline" class="col-md-4">
                            <mat-label>Nazwa</mat-label>
                            <input matInput type="text" [(ngModel)]="object.name">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="col-md-8">
                            <mat-label>Koordynaty</mat-label>
                            <input matInput type="text" [(ngModel)]="object.coordinates">
                        </mat-form-field>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
